name: CI
on:
  pull_request:
  push:
    branches: [ "main" ]

jobs:
  html-check:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Install tidy
        run: sudo apt-get update && sudo apt-get install -y tidy

      - name: Validate HTML
        run: |
          tidy -errors -q index.html
          tidy -errors -q contacto.html
